.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color:var(--lightGrey);
  padding: 16px 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  min-width: 70px;
  height: 35px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  width: 100%;
  background-color:var(--lightGrey);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdownContent a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdownContent {
  display: block;
}

.option{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 5px;
  width: 100%;
}

.clickedOption{
  color:var(--netflixRed);
}
